.item{
    width: 70px;
    height: 70px;
    /* display: flex; */
    background-color: rgb(2, 197, 197);
    color: white;
}
.item:nth-child(2n){
    background-color: deeppink;
}
.label, 
.percentage{
    display: block;
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
}
.percentage{
    font-weight: 700;
    padding-top: 5px;
    font-size: 20px;
}